/****************
MEDIA QUERIES
****************/

@media screen and (min-width: 480px) {

	/****************
	 PAGE: PORTFOLIO
	****************/

	#gallery li {
		width: 28.3333333333333333%;
	}

	#gallery li:nth-child(4n) {
		clear: left;
	}

	#gallery2 li {
		width: 45%;
	}

	#gallery2 li:nth-child(4n) {
		clear: left;
	}

	#gallery3 li {
		width: 28.3333333333333333%;
	}

	#gallery3 li:nth-child(4n) {
		clear: left;
	}

	#gallery3 img {
		opacity: 1;
	}

	/****************
	 PAGE: ABOUT
	****************/

	nav a {
		font-weight: 700;
		padding: 15px 5px;
	}

}

@media screen and (min-width: 660px) {

	/****************
	 HEADER
	****************/

	nav {
		background: none;
		float: right;
		font-size: 1.5em;
		text-align: right;
		width: 60%;
	}

	#logo {
		float: left;
		text-align: center;
		width: 34%;
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.2em;
		margin-bottom: 20px;
	}

	header {
		border-bottom: 5px solid #CBFFB2;
		margin-bottom: 60px;
		height: 130px;
	}

	p {
		font-size: 1.25em;
	}

	nav li {
		border: none;
	}

	nav a {
		font-weight: 700;
		padding: 15px 12px;
	}

	nav a, nav a:visited {
		color: white;
	}

	nav a:hover, nav a.selected {
		color: LightSalmon;
	}

	/****************
	2 COLUMN LAYOUt
	****************/
	
	#primary {
		width: 50%;
		float: left;
	}

	#secondary {
		width: 40%;
		float: right;
	}

	.biography,
	.bio {
		width: 75%;
	}

	.show {
		font-size: .8em;
	}

	.profile-photo {
	float: left;
	margin: 0 5% 80px 0;
	}
}

@media screen and (max-width: 864px) {

	nav a {
		font-size: .8em;
	}

}

@media screen and (min-width: 864px) {

	#gallery3 img {
		opacity: .5;
	}

	#gallery3 img:hover {
		opacity: 1;
	}

	.biography,
	.bio {
		width: 75%;
	}
}














